{% extends'@EasyAdmin/layout.html.twig' %}

{% block content %}

<div class="jumbotron">
	<div class="container-fluid">
		<div class="d-flex justify-content-between">
		<h1> Administration</h1>
		<a href="{{ path('app_home') }}" style="height:max-content;" class="btn btn-primary">Revenir au site</a>
		</div>
		<p> bienvenue dans l'interface d'Administration de votre site internet</p>


{% endblock %}