{% extends'@EasyAdmin/layout.html.twig' %}

{% block content %}

<div class="jumbotron">
	<div class="container-fluid">
		<h1> Administration</h1>
		<p> bienvenue dans l'interface d'Administration de votre site internet</p>

{% endblock %}